/* Généralités */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header,
main {
    margin-left: 5%;
    margin-right: 38%;
}

/* Header */
.img_entete {
    margin-top: 1%;
}

/* div titre */

h1 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 2.5em;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* div overview */
.overview {
    height: 200px;
}

h2 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 2em;
}

hr {
    margin-top: 0;
    opacity: 0.5;
}

.icon_overview {
    display: flex;
    justify-content: space-between;
}

.time {
    display: flex;
    gap: 60px;
}

.text_overview {
    display: flex;
    justify-content: space-between;
}

/* div ingredients */
.text_ligne_1,
.text_ligne_2,
.text_ligne_3,
.text_ligne_4,
.text_ligne_5 {
    display: flex;
    gap: 200px;
}

.text_ligne_2,
.text_ligne_4 {
    background-color: lightgrey;
}